<% provide( :title, "About") %>
<h1>About Paradox Circle</h1>

<p>We are a group of music lovers who decided it was time to create a tool that would allow users to find local talent. Through this webapp you can search for bands and through the calendar feature you can look at events near you.</p>
