<% provide( :title, "Home") %>

<h1> Home </h1>
<h2>Welcome to Paradox Circle</h2>
<p>Click the logo to sign up now!</p>

<%= link_to image_tag("extremeParadox.jpg", alt: "Paradox Circle logo"), root_path %>
