<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <p>Hello, <%= @user.name %></p>
      </h1>
    </section>
  </aside>
	<section>
    <h3> Last viewed artists </h3>
      
      <% session[:history].each do |a| %>
        <% artistID = a.split('/')[-1] %>
        <% artistRecord = Artist.find(artistID) %>
        <p><%= link_to artistRecord.name, a %></p>
      <% end %>
  </section>

	<section>
  	<h3> Recommended for you </h3>
  	<h5> Artists you may be interested in based on recently viewed artists</h5>
      <!-- placeholder content until implementing recommendations -->
      <% @artiststodisplay = Artist.first(5) %>
      <% @artiststodisplay.each do |artist| %>
        <p><%= link_to artist.name, url_for(artist) %></p>
      <% end %>
  </section>


