<footer class="footer">
  <small>
   Rails Demo App
    by <a href="https://nmsu.instructure.com/groups/202240/">Paradox Circle</a>
  </small>
	<nav>
		<ul>
			<li><%= link_to "Help",   help_path %></li>
			<li><%= link_to "About",  about_path %></li>
		</ul>
	</nav>
</footer>
